@inherits LayoutComponentBase

<div class="main" style="background-image:url(/images/music3.png)">




    <div class="content px-lg-5">
        @Body
    </div>

    <div class="modal-footer border-dark bg-dark" style="background-image:url(/images/music3.png)">
        <div class="modal-body ">
            <div class="modal-body">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="modal-body">
                                    <div class="modal-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>